
body {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar */
.navbar-brand {
    font-family: Alata;
    font-size: 32px;
}

.navbar-recipe {
  position: absolute!important;
  top: 0;
  left: 0;
  z-index: 99; color: black (0, 0, 0, 0.5);
  width: 100%
}
.navbar-text {
  color: white;
  margin-left: 12px;
  margin-right: 12px; 
}
.carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.btn-brown {
  background-color: brown;

}
/* Jumbotron */
.jumbotron {
    background-image: url(img/food3.jpg);
    background-size: cover;
    height: 640px;
    margin-top: -75px;  
}

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0.7)
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Info Panel*/
.info panel {
    box-shadow: 0 3 px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
}
/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* DESKTOP VERSION */ 

}
 

.jumbotron .display-4 {
    color: white;
    text-align: center;
    margin-top: 150px;

}

.one-slide {
    border-radius: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.1rem;
    height: 300px;
  }

/* Scss Document */
.orange-fade {
    background: whitesmoke;
    background: linear-gradient: whitesmoke (0, 0, 0, 0.7);
}
.pos-r {
    position: relative!important;
}
.white {
    background: #fff;
}
.text-white {
    color:#fff!important;
}
.text-gray {
    color: #363636;
}
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 14%;
    height: 3px;
    margin: 1.2em auto 1em;
    background: #ffc53a;
}
.one-slide {
  border-radius: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  height: 300px;
}
.one-slide img {
  width: 60%;
}
.carousel-controls .control {
  position: absolute;
  cursor: pointer;
  top: 56.4%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.prev {
  left: -1.875rem;
}
.next {
  right: -1.875rem;
}
.testimonial-carousel { 
  &.slick-initialized { 
    display: block; 
  }
 .message {
    width: 100%;
    font-size: .9rem;
  }
  .brand {
    width: 100%;
  }
  
  
}
@media (max-width: 575px) {
  .one-slide {
    height: 200px;
  }
  img {
      width: 40%;
    }
}

.bg-opacity {
  position: relative;
  background-color: #000;
}

.bg-opacity::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background: url('assets/images/call-center.jpg') no-repeat center center;
  background-size: cover;
}
